<div class="tituloProductos">
    <h2>Bienvenidos a SUPERMARKET</h2>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/ofertasBanner.png" class="d-block h w-100" alt="KioscoBanner">
        </div>
        <div class="carousel-item">
            <img src="img/ofertaBanner2.jpg" class="d-block h w-100" alt="KioscoBanner">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<div class="subtituloProductos">
    <h2>Deslize para ver las increibles ofertas!</h2>
</div>

{{!-- Testimonios --}}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio1.jpeg" class="card-img-top" alt="Imagen Testimonio 1">
                <div class="card-body">
                    <h5 class="card-title">Señora Marta</h5>
                    <p class="card-text">Hola. Soy Marta este Super es espectacular siempre me tratan 
                        bien, ademas que tienen las mejores ofertas, es un super que me acompaña desde siempre.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio2.jpg" class="card-img-top" alt="Imagen Testimonio 2">
                <div class="card-body">
                    <h5 class="card-title">Jason Statham</h5>
                    <p class="card-text">Buenas tardes, estabamos grabando con mis compañeros de Fast & Furious
                        y vimos este increible supermercado, en mi opinion el mejor de Argentina, mejores ofertas,
                        sobre todo la atencion y la calidad de los productos. Amazing
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio3.webp" class="card-img-top" alt="Imagen Testimonio 3">
                <div class="card-body">
                    <h5 class="card-title">Julian Alvarez</h5>
                    <p class="card-text">Buenas noches, despues de que Guardiola no me hizo jugar 1 minuto
                        en Champions decidi venir a este super a comprar unos productos, y literalmente es como
                        todos dicen, es perfecto, producto de calidad que no se ven ni en Inglaterra, la atencion
                        EXCELENTE.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
