<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{{body}}}
     <script id="products-template" type="text/x-handlebars-template" src="products.handlebars"></script>
     <script src="index.js"></script>   
</body>
</html>